/* 宽度 */
.w100{
	width: 100%;
}
.w50{
	width: 48%;
}
.w25{
	width: 24%;
}
.w20{
	width: 19%;
}
/* 边距 */
.m15{
	margin: 15px;
}
.mt15{
	margin-top: 15px;
}
.ml15{
	margin-left: 15px;
}
.mt10{
	margin-top: 10px;
}
.mt5{
	margin-top: 5px;
}
/* 间距 */
.p15{
	padding: 15px;
	box-sizing: border-box;
}
.p10{
	padding: 10px;
	box-sizing: border-box;
}
.pt15{
	padding-top: 15px;
	box-sizing: border-box;
}
.pt10{
	padding-top: 10px;
	box-sizing: border-box;
}
/* 边框 */
.border{
	border: 1px solid #f4f4f4;
}
.border0{
	border: none;
}
.bb{
	border-bottom:1px solid #f4f4f4;
	box-sizing: border-box;
}
.outline0{
	outline: 0;
}
/* 圆角 */
.round10{
	border-radius: 10px;
	overflow: hidden;
}
.round15{
	border-radius: 15px;
	overflow: hidden;
}
.round100{
	border-radius: 100px;
	overflow: hidden;
}
.t-red{
    color: red;
}
/* 字体 */
.fz12{
	font-size: 12px;
}
.fz14{
	font-size: 14px;
}
.fz16{
	font-size: 16px;
}
.fz18{
	font-size: 18px;
}
.fz20{
	font-size: 20px;
}
.fz22{
	font-size: 22px;
}
.fz24{
	font-size: 24px;
}
.fz26{
	font-size: 26px;
}
.fz28{
	font-size: 28px;
}
.fz30{
	font-size: 30px;
}
.bold{
	font-weight: bold;
}
/* 文字颜色 */
.t-blue{
	color: #1273eb;
}
.t-gray{
	color: #777;
}
.t-white{
	color: #fff;
}
.t-black{
	color: #333;
}
/* 背景颜色 */
.bg-blue{
	background-color: #1273EB;
}
.op-hover:hover{
	opacity: 0.8;
}
.bg-black{
	background-color: #1D262D;
}
/* 对齐方式 */
.center{
	text-align: center;
}
/* flex 布局 */
.flex{
	display: flex;
}
.jus-between{
	justify-content: space-between;
}
.jus-around{
	justify-content: space-around;
}
.jus-center{
	justify-content: center;
}
.ali-cen{
	align-items: center;
}
/* -------------------------------------------- */
.pointer{
	cursor: pointer;
}

.ell{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.letter{
	letter-spacing: 0.2em;
}